.open-ai-widget {
   grid-template-rows: max-content 1fr;
}

.ai-layout {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 1.25rem;
    overflow-x: hidden !important;
}

.question-input-layout {
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 0.875rem;
    align-items: center;
}

.question-input-content {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
    align-items: center;
    border-radius: 4px;
    height: 2.75rem;
    padding-left: 1.125rem;
    padding-right: 0.75rem;
    border: 1px solid var(--colorNeutralStroke1);
}

.question-input {
    border: none;
    border: none;
    outline: medium;
    height: 2.5rem;
    font-size: 0.875rem;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
}

.answer-layout {
    display: grid;
    align-content: start;
    height: 100%;
    overflow-x: hidden !important;
    padding-right: 2px;
}

.btn-copy {
    justify-self: end;
    width: fit-content;
    min-width: 0 !important;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--colorNeutralStroke1);
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 8px;
}
